<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="History">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="History">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#2F3BA2">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css">
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" ng-app="a">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="c as m">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>History</h3>
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
        </header>
        <main class="mdl-layout__content">
            <section class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="location" ng-model="m.s" ng-change="m.c()">
                        <option value="turoa">Turoa</option>
                        <option value="whakapapa">Whakapapa</option>
                        <option value="cardrona">Cardrona</option>
                        <option value="treble_cone">Treble Cone</option>
                    </select>
                    <label class="mdl-textfield__label" for="location">Location</label>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="year" ng-model="m.y" ng-change="m.c()">
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                    </select>
                    <label class="mdl-textfield__label" for="year">Year</label>
                </div>
            </section>
            <section class="mdl-grid" style="overflow:auto">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tr ng-repeat-start="r in m.d.values" ng-if="$index%7==0">
                      <th class="mdl-data-table__cell--non-numeric">date</th>
                      <th class="mdl-data-table__cell--non-numeric">wind</th>
                      <th class="mdl-data-table__cell--non-numeric">summary</th>
                      <th class="mdl-data-table__cell--non-numeric">snow</th>
                      <th class="mdl-data-table__cell--non-numeric">rain</th>
                      <th class="mdl-data-table__cell--non-numeric">freezing</th>
                      <th class="mdl-data-table__cell--non-numeric" ng-repeat="name in m.d.names">{{name}}</th>
                    </tr>
                    <tr ng-repeat-end>
                      <td class="mdl-data-table__cell--non-numeric">{{r[0]}}</td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <span class="mdl-chip" ng-style="{'background-color':m.w(r[1])}">
                          <span class="mdl-chip__text">&nbsp;</span>
                        </span> {{r[1]}} {{r[4]}}<br/>
                        <span class="mdl-chip" ng-style="{'background-color':m.w(r[2])}">
                          <span class="mdl-chip__text">&nbsp;</span>
                        </span> {{r[2]}} {{r[5]}}<br/>
                        <span class="mdl-chip" ng-style="{'background-color':m.w(r[3])}">
                          <span class="mdl-chip__text">&nbsp;</span>
                        </span> {{r[3]}} {{r[6]}}
                      </td>
                      <td class="mdl-data-table__cell--non-numeric"><p>{{r[7]}}</p><p>{{r[8]}}</p><p>{{r[9]}}</p></td>
                      <td class="mdl-data-table__cell--non-numeric"><p>{{m.z(r[10])}}</p><p>{{m.z(r[11])}}</p><p>{{m.z(r[12])}}</p></td>
                      <td class="mdl-data-table__cell--non-numeric"><p>{{m.z(r[13])}}</p><p>{{m.z(r[14])}}</p><p>{{m.z(r[15])}}</p></td>
                      <td class="mdl-data-table__cell--non-numeric"><p>{{r[16]}}</p><p>{{r[17]}}</p><p>{{r[18]}}</p></td>
                      <td class="mdl-data-table__cell--non-numeric" ng-repeat="v in r track by $index" ng-if="$index>18"><span class="mdl-chip" ng-style="{'background-color':m.l(v)}">
                        <span class="mdl-chip__text">&nbsp;</span>
                      </span> {{v}}</td>
                    </tr>
                </table>
            </section>
        </main>
        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">© 2020 Shingo Snow Tour. All rights reserved.</div>
            </div>
        </footer>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="scripts/history.js"></script>
</body>
</html>
