.layout-wrapper {
  max-width:1360px;
}
.mdl-layout__tab-bar-container,
.mdl-layout__tab-bar-button {
  height: 64px;
}
.mdl-layout__tab-bar .mdl-layout__tab,
.mdl-layout__tab-bar-button .material-icons {
  height: 64px;
  line-height: 64px;
}
.mdl-layout__tab-bar-button:not(.is-active) {
  display:none;
}
.mdl-layout__tab-bar {
  padding-left: 16px;
  width:100%;
}